# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# coveralls.io reports
/coverage

# For convenience, hide actual config files
config/database.yml
config/secrets.yml

# Deployment files you don't want to see on a github repository
config/deploy/*

# Bower dependencies
vendor/assets/

# NPM modules
node_modules/