# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 999182c3afd697ed860ee4a0aaf1425eb4fc4ff20f7ec0ccdc90ad53dfc1e7b003c01e8429427a40e2f24597048c90df1b9208ffb7a61620fe3d8bb111c099cb

test:
  secret_key_base: c10a19e0b1448b52e85e6510ef8f19f8ed74111133c5a7d44c3a27766a7d2b6ec762ad8ea2a6e98389825d540d9700b6b070de81d9b66002e61a7cf98a69fdca

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
