<div ng-controller="SearchController">
  <div class="form-group">
    <%= label_tag :q, 'Chercher un arrêt' %>
    <input type="text"
           name="q"
           id="q"
           class="form-control"
           autocomplete="off"
           autofocus
           ng-model="q"
           ng-model-options="{ debounce: {'default': 200, 'blur': 0} }" />
  </div>

  <ul class="stop-list nav nav-pills nav-stacked">
    <li ng-repeat="stop in stops">
      <a ng-href="/arrets/{{ stop.id }}">
        {{ stop.name }}

        <ul class="route-list">
          <li class="badge" ng-repeat="route in stop.routes">
            {{ route.id }}
          </li>
        </ul>
      </a>
    </li>
  </ul>
</div>
